<div [class]="'d-flex flex-wrap mb-3'+(cssClass?' '+cssClass:'')">
  <div [class]="(!noWrap?'col-12 col-'+bp+'-4':'col-4')+' pl-0 label-group'" *ngIf="label && !fillMode">
    <p #lf class="label-field">{{ label }}</p>
  </div>
  <div [class]="(!noWrap?'col-'+bp+'':'col')+' px-0'">
    <div class="{{download?'field-offset':'d-block'}}" *ngIf="!listMode">
      <p class="d-flex align-items-center m-0">
        <button mat-icon-button *ngIf="download" (click)="_onIconDownload()" [disableRipple]="disableRipple"><mat-icon>{{ iconDownload }}</mat-icon></button>
        <span *ngIf="!fillMode && value && !link" class="valore-field">{{ value }}</span>
        <span *ngIf="fillMode && value && !link" class="valore-field p-0">{{ value }}</span>
        <span *ngIf="fillMode && link" class="valore-field p-0"><a [href]="link" [target]="link.indexOf('mailto:')!==-1?'_self':target">{{ value || link }}</a></span>
        <span *ngIf="!fillMode && link" class="valore-field"><a [href]="link" [target]="link.indexOf('mailto:')!==-1?'_self':target">{{ value || link }}</a></span>
        <span *ngIf="!value && !link" class="valore-field">{{ altLabel }}</span>
      </p>
    </div>
    <div class="d-block" *ngIf="listMode">
      <p class="valore-field" *ngFor="let _val of values">{{ _val }}</p>
      <p class="valore-field" *ngIf="!values || values.length == 0">{{ altLabel }}</p>
    </div>
  </div>
</div>
