:host {
  display: block;
}

.art-deco {
  max-width: 68px;
  margin-bottom: 1rem;
  height: 2px;
  background-color: #000;
}

:host .icon {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
