<div class="container py-5">
  <div *ngIf="!Pay.MdBlock()">
    <pay-title-deco art-class="title-deco mb-5" [simple]="true"
                    [titolo]=" _decodedForm['detail'][Pay.ALPHA_3_CODE]['name']"></pay-title-deco>
  </div>
  <div class="row">
    <div [ngClass]="_decodedForm['jsfDef']?'col-12 col-md-6 mb-2 mb-md-0':'col-12 mb-0'">
      <pay-title-deco *ngIf="!Pay.MdBlock() && Pay.CollapsibleSections?.InformazioniDettaglioServizio" art-class="title-deco collapsible-title mb-5" [simple]="true"
                      [titolo]="Pay.I18n.json.DettaglioServizio.Titolo" data-toggle="collapse" data-target="#infoCollapse"
                      role="button"></pay-title-deco>
      <pay-title-deco *ngIf="Pay.MdBlock()" art-class="title-deco mb-5" [simple]="true" [titolo]="Pay.I18n.json.DettaglioServizio.Titolo"></pay-title-deco>
      <div id="infoCollapse" [class]="(!Pay.MdBlock() && Pay.CollapsibleSections?.InformazioniDettaglioServizio)?'collapse pb-5 pb-md-5':'pb-5 pb-md-5'">
        <div class="media mb-5" *ngIf="Pay.ImpostazioniLayout['DETAILS_METADATA']?.show_block">
          <img class="avatar align-self-center mr-2 rounded-circle" [src]="_getTaxonomyImage(_decodedForm['detail'][Pay.ImpostazioniLayout['DETAILS_METADATA'].taxonomy_image], Pay.ImpostazioniLayout['DETAILS_METADATA'].taxonomy_image)" alt="_getTaxonomyTitle(_decodedForm['detail'][Pay.ImpostazioniLayout['DETAILS_METADATA'].taxonomy_image], Pay.ImpostazioniLayout['DETAILS_METADATA'].taxonomy_image)" *ngIf="Pay.ImpostazioniLayout['DETAILS_METADATA'].taxonomy_image">
          <div class="media-body align-self-center">
            <p class="mb-0" *ngIf="Pay.ImpostazioniLayout['DETAILS_METADATA'].taxonomy1">{{ _getTaxonomyTitle(_decodedForm['detail'][Pay.ImpostazioniLayout['DETAILS_METADATA'].taxonomy1], Pay.ImpostazioniLayout['DETAILS_METADATA'].taxonomy1) }}</p>
            <p class="mb-0 small" *ngIf="Pay.ImpostazioniLayout['DETAILS_METADATA'].taxonomy2">{{ _getTaxonomyTitle(_decodedForm['detail'][Pay.ImpostazioniLayout['DETAILS_METADATA'].taxonomy2], Pay.ImpostazioniLayout['DETAILS_METADATA'].taxonomy2) }}</p>
            <p class="mb-0 small" *ngIf="Pay.ImpostazioniLayout['DETAILS_METADATA'].metadata">{{ _decodedForm['detail'][Pay.ALPHA_3_CODE]['metadata'] }}</p>
          </div>
        </div>
        <img class="w-100 mb-4" [src]="_decodedForm['detail']['img']" alt="Immagine rappresentativa del servizio {{ _decodedForm['detail'][Pay.ALPHA_3_CODE]['name'] }}" *ngIf="Pay.ImpostazioniLayout['DETAILS_METADATA']?.show_image">
        <div class="mb-5 markdown-section" [payMarked]="_decodedForm['detail'][Pay.ALPHA_3_CODE]['long_description']"></div>
        <div class="container-fluid px-0">
          <div class="row">
            <div class="col-12">
              <pay-field-group *ngFor="let p of _decodedForm['detail'][Pay.ALPHA_3_CODE]['properties']" [breakpoint]="'sm'"
                              [label]="p.label" [value]="p.text" [link]="p.url" [cssClass]="p.url?'routable':''"></pay-field-group>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="_decodedForm['jsfDef'] && (_decodedForm['form']['tipo'] == 'angular2-json-schema-form')">
      <pay-title-deco art-class="title-deco mb-5" [simple]="true" [titolo]="Pay.I18n.json.DettaglioServizio.Form.Titolo" title="angular2-json-schema-form"></pay-title-deco>
      <json-schema-form #jsf [options]="_formOptions" [framework]="'material-design'" [schema]="_jsonSchema" [data]="_jsonData" [UISchema]="_jsonUISchema"
                        [layout]="_jsonLayout" (isValid)="_isValid($event)"></json-schema-form>
      <div class="mt-5">
        <button mat-flat-button [color]="'accent'" (click)="_generaPendenza(jsf, true)" [disabled]="!_jsFormValid" *ngIf="_decodedForm.detail['requireUserConfirm']">
          {{ Pay.I18n.json.DettaglioServizio.Form.Verifica }}
        </button>
        <button mat-flat-button [color]="'accent'" (click)="_generaPendenza(jsf, false)" [disabled]="!_jsFormValid" *ngIf="!_decodedForm?.detail['requireUserConfirm']">
          {{ Pay.EditMode?Pay.I18n.json.DettaglioServizio.Form.Salva:Pay.I18n.json.DettaglioServizio.Dialog.Submit }}
        </button>
      </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="_decodedForm['jsfDef'] && (_decodedForm['form']['tipo'] == 'surveyjs')">
      <div class="survey" *ngIf="_surveyJson">
        <pay-title-deco art-class="title-deco mb-5" [simple]="true" [titolo]="Pay.I18n.json.DettaglioServizio.Form.Titolo" title="surveyjs"></pay-title-deco>
        <survey [lang]="_surveyLang"
                [json]="_surveyJson"
                [settings]="_settings"
                [data]="_jsonData"
                [edit]="_surveyEdit"
                [theme]="_surveyTheme"
                (submitSurvey)="_onSubmitSurvey($event)">
        </survey>
      </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="_decodedForm['jsfDef'] && (_decodedForm['form']['tipo'] == 'formly')">
      <div class="formly" *ngIf="formlyFields">
        <pay-title-deco art-class="title-deco mb-5" [simple]="true" [titolo]="Pay.I18n.json.DettaglioServizio.Form.Titolo"></pay-title-deco>
        <form #formly="ngForm" [formGroup]="formlyForm" (ngSubmit)="_onSubmitFormly(formlyModel)">
          <formly-form [form]="formlyForm" [fields]="formlyFields" [options]="formlyOptions" [model]="formlyModel"></formly-form>
          <div class="mt-5">
            <button type="submit" mat-flat-button [color]="'accent'" [disabled]="!formly.valid" *ngIf="_decodedForm.detail['requireUserConfirm']">
              {{ Pay.I18n.json.DettaglioServizio.Form.Verifica }}
            </button>
            <button mat-flat-button [color]="'accent'" (click)="_generaPendenza(jsf, false)" [disabled]="!formly.valid" *ngIf="!_decodedForm?.detail['requireUserConfirm']">
              {{ Pay.EditMode?Pay.I18n.json.DettaglioServizio.Form.Salva:Pay.I18n.json.DettaglioServizio.Dialog.Submit }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
