<div class="container py-5">
  <div class="row">
    <div [ngClass]="_decodedForm['jsfDef']?'col-12 col-md-6 mb-5 mb-md-0':'col-12 mb-0'">
      <pay-title-deco art-class="title-deco mb-5" [simple]="true" [titolo]="Pay.I18n.json.DettaglioServizio.Titolo"></pay-title-deco>
      <img class="w-100 mb-4" [src]="_decodedForm['detail']['img']">
      <p class="mb-5">{{ _decodedForm['detail'][Pay.ALPHA_3_CODE]['long_description'] }}</p>
      <div class="container-fluid px-0">
        <div class="row mb-3 mb-sm-0 mb-md-3 mb-lg-0" *ngFor="let p of _decodedForm['detail'][Pay.ALPHA_3_CODE]['properties']">
          <div class="col-12 col-sm-4 col-md-12 col-lg-4">
            <p class="etichetta mb-0 mb-md-auto mb-lg-0">{{ p['label'] }}</p>
          </div>
          <div class="col-12 col-sm-8 col-md-12 col-lg-8">
            <p class="mb-0 mb-md-auto mb-lg-0" *ngIf="!p['url']">{{ p['text'] }}</p>
            <p><a *ngIf="p['url']" [href]="p['url']">{{ p['text'] }}</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="_decodedForm['jsfDef']">
      <pay-title-deco art-class="title-deco mb-5" [simple]="true" [titolo]="Pay.I18n.json.DettaglioServizio.Form.Titolo"></pay-title-deco>
      <json-schema-form #jsf [options]="_formOptions" [framework]="'material-design'" [schema]="_jsonSchema" [data]="_jsonData" [UISchema]="_jsonUISchema"
                        [layout]="_jsonLayout" (isValid)="_isValid($event)"></json-schema-form>
      <div class="pt-4">
        <button mat-flat-button color="primary" (click)="_generaPendenza(jsf, true)" [disabled]="!_jsFormValid" *ngIf="_decodedForm.detail['requireUserConfirm']">
          {{ Pay.I18n.json.DettaglioServizio.Form.Verifica }}
        </button>
        <pay-icon-button button-class="icon-button" [icon]="Pay.EDIT_MODE?'':'shopping_cart'" (ib-click)="_generaPendenza(jsf, false)"
                         [disabled]="!_jsFormValid" *ngIf="!_decodedForm?.detail['requireUserConfirm']">
          {{ Pay.EDIT_MODE?Pay.I18n.json.DettaglioServizio.Form.Salva:Pay.I18n.json.DettaglioServizio.Dialog.Submit }}
        </pay-icon-button>
      </div>
    </div>
  </div>
</div>
