<div class="sub-header-bar" [class.scrolled]="_scrolled" *ngIf="_showSubHeader">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center flex-nowrap ml-n2 ml-sm-n3">
      <div class="mt-1">
        <div class="" [ngClass]="_scrolledTarget ? 'show' : 'hide'">
          <p class="text-truncate medium-18 lh-90 mb-1">{{ pay.currencyFormat(_posizione.importo) }}</p>
          <p class="text-truncate color-gray medium-12 mb-0">{{ _statoPendenza }}<span *ngIf="_dataScadenza"> - {{ _dataScadenza }}</span></p>
        </div>
      </div>
      <div class="">
        <button type="button" class="select-button mr-3" (click)="_clickStampa()" *ngIf="_isStatusNonEseguita()">
          <i class="material-icons mr-1">{{ 'print' }}</i> 
          <span class="d-none d-md-inline-block">{{ Pay.I18n.json.Cart.Pagamenti.Stampa }}</span>
        </button>
        <button type="button" class="select-button" (click)="_buttonClick($event)" *ngIf="_primaryIcon">
          <i class="material-icons mr-1">{{ _primaryIcon }}</i> 
          <span class="d-none d-md-inline-block">{{ _getButtonText() }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container py-5" [class.mt-3]="_showSubHeader">
  <!-- <div *ngIf="!Pay.MdBlock()">
    <pay-title-deco art-class="title-deco mb-5" [simple]="true" [titolo]="_posizione.causale"></pay-title-deco>
  </div> -->
  <div class="row">
    <div class="" [ngClass]="_hasTwoColumns() ? 'col-12 col-lg-6 mb-2 mb-md-0' : 'offset-lg-2 col-lg-8 col-sm-12 mb-2 mb-md-0'">
      <div class="row">
        <div class="col-12" [ngClass]="_pendenzaConfig && _pendenzaConfig.actions.length ? 'mb-3' : 'mb-5'">
          <pay-title-deco art-class="title-deco mb-5" [simple]="true" [titolo]="Pay.I18n.json?.DettaglioPosizione?.Titolo"></pay-title-deco>
          <p class="mt-5 mb-3"></p>
          <div class="d-flex justify-content-between align-items-start px-0">
            <div class="">
              <p class="d-block matcard-title pb-3 color-gray regular-24">{{ Pay.I18n.json?.DettaglioPosizione?.Dialog?.Riepilogo}}</p>
            </div>
            <div class="text-right">
              <p class="text-truncate medium-24 lh-90 mb-1">{{ pay.currencyFormat(_posizione.importo) }}</p>
              <p class="text-truncate color-gray medium-18 mb-0">{{ _statoPendenza }}</p>
              <p class="text-truncate color-gray regular-14 mb-0">{{ _dataScadenza }}</p>
            </div>
          </div>
          <div class="" *ngIf="_pendenzaConfig">
            <div *ngFor="let attr of _pendenzaConfig.attributes">
              <pay-item-attribute
                [attribute]="attr"
                [data]="_posizione"
                [hideEmpty]="false">
              </pay-item-attribute>
            </div>
          </div>
        </div>
        <div class="col-12 mb-5" *ngIf="!_showSubHeader">
          <div class="text-right">
            <button type="button" class="select-button mr-3 mb-2" [class.w-100]="!Pay.SmBlock()" (click)="_clickStampa()" *ngIf="_isStatusNonEseguita()">
              <i class="material-icons mr-1">{{ 'print' }}</i> 
              <span>{{ Pay.I18n.json.Cart.Pagamenti.Stampa }}</span>
            </button>
            <button type="button" class="select-button mb-2" [class.w-100]="!Pay.SmBlock()" (click)="_buttonClick($event)" *ngIf="_primaryIcon">
              <i class="material-icons mr-1">{{ _primaryIcon }}</i> 
              <span>{{ _getButtonText() }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="" [ngClass]="_hasTwoColumns() ? 'col-12 col-lg-6 mb-50' : 'offset-lg-2 col-lg-8 col-sm-12 mb-5'">
      <pay-group-item-attribute *ngFor="let group of _config" 
      [group]="group"
      [data]="_posizione"
      [hideEmpty]="false">
    </pay-group-item-attribute>
    </div>
    <div class="" [ngClass]="_hasTwoColumns() ? 'col-12 col-lg-6 mb-50' : 'offset-lg-2 col-lg-8 col-sm-12 mb-5'">
      <div class="" *ngIf="_pendenzaConfig && _pendenzaConfig.actions?.items.length">
        <pay-title-deco art-class="title-deco mb-5" [simple]="true" [titolo]="_pendenzaConfig.actions.name" *ngIf="_pendenzaConfig.actions.name"></pay-title-deco>
        <ng-container *ngFor="let action of _pendenzaConfig.actions.items">
          <a class="select-button mr-3 mb-2" [class.w-100]="!Pay.SmBlock()" [href]="action.url" target="_blank">
            <mat-icon class="mr-2 align-bottom">{{ action.icon }}</mat-icon>
            <span>{{ action.label }}</span>
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</div>
