<div class="{{ _headerClass }} w-100">
  <div class="container">
    <div class="d-flex align-items-center flex-nowrap ml-n2 ml-sm-n3">
      <button mat-icon-button class="mr-3" (click)="_onIconLeft()" *ngIf="_showLeftIcon">
        <mat-icon class="{{ _iconClass }} material-icons action" aria-label="menu">{{ _iconLeft }}</mat-icon>
      </button>
      <div class="mr-auto text-truncate">
        <a class="w-100 single-line-text" [href]="_href" *ngIf="_href!='#'" [attr.title]="_titleString">{{ _titleString }}</a>
        <p class="w-100 m-0 single-line-text" *ngIf="_href=='#'" [attr.title]="_titleString">{{ _titleString }}</p>
      </div>
      <ng-content select="[add-on]"></ng-content>
      <span class="icon-group">
        <button mat-icon-button *ngIf="_showRightIcon" [disabled]="_disableIconRight">
          <mat-icon (click)="_onIconRight()">{{ _iconRight }} </mat-icon>
        </button>
        <span class="icon-label">{{ _label }}</span>
      </span>
    </div>
  </div>
</div>
