:host {
  position: relative;
  display: block;
}

.action {
  cursor: pointer;
}

.multiline-text {
  white-space: normal;
}

.single-line-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
