<div class="{{ _headerClass }} w-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="container-fluid">
          <div class="row align-items-center">
            <button mat-icon-button class="mr-3" (click)="_onIconLeft()" *ngIf="_showLeftIcon">
              <mat-icon class="{{ _iconClass }} material-icons action" aria-label="menu">{{ _iconLeft }}</mat-icon>
            </button>
            <div class="mr-auto text-truncate">
              <a class="w-100 multiline-text" [href]="_href" *ngIf="_href!='#'">{{ _title }}</a>
              <p class="w-100 m-0 multiline-text" *ngIf="_href=='#'">{{ _title }}</p>
            </div>
            <pay-icon-button button-class="cart-button" (ib-click)="_onIconRight()" [icon]="_iconRight">{{ _label }}</pay-icon-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
