:host(.partners) .logo-govpay img.govpay-prj {
  width: auto;
  height: 1.5rem;
}

:host(.partners) .side-nav .sidenav-logo-gestore {
  bottom: 1.5rem;
}

:host(.partners) .partners-group a {
  display: inline-block;
  margin: 0 1rem 1.5rem 0;
}

.spinner-group {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(255, 255, 255, .35);
}

.spin-center {
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  transform: translate(-50%, -50%);
}
