:host(.partners) .side-nav .sidenav-logo-gestore {
  bottom: 1.5rem;
}

:host(.partners) .partners-group a {
  display: inline-block;
  margin: 0 1rem 1.5rem 0;
}

.spinner-group {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(255, 255, 255, .35);
}

.spin-center {
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  transform: translate(-50%, -50%);
}

/* Custom Menu Account */

a {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  line-height: 1rem;
  color: rgba(33, 33, 33, 1);
  cursor: pointer;
}

a.route-link-disabled {
  color: rgba(33, 33, 33, 0.5) !important;
}

a > p.multiline-text {
  text-transform: initial;
  font-weight: 600;
}

a:hover {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  line-height: 1rem;
  color: rgba(33, 33, 33, 1);
}

.dropdown-toggle {
  font-size: 1rem;
  font-weight: 400;
}

.dropdown-toggle::after {
  font-family: 'Material Icons';
  position: relative;
  margin-left: 4px;
  border: none;
  content: 'expand_more';
  vertical-align: middle;
  text-transform: none;
}

.dropdown-menu {
  max-height: 50vh;
  border-radius: 0;
  border: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.dropdown-item:hover {
  background-color: #E3F2FD;
  cursor: pointer;
}
