<link-header #header [url-logo]="_logo" [show-language-menu]="_languages.length > 1" [show-nav-menu]="_isLogged"
            [localization-data]="_hld" (on-click-menu)="_menuHandler($event)" [language-list]="_languages" [slim-header]="_slimHeader"
            (on-change-language)="_languageHandler($event)" [current-language]="_language"></link-header>
<div #globalContent class="global-container px-0 overflow-auto Titillium" (scroll)="_onScroll($event)">
  <div #routeSection class="d-block">
    <router-outlet></router-outlet>
  </div>
  <div #footer class="pt-3">
    <link-footer [url-logo]="_logo" [evaluate]="false" [localization-data]="_fld">
      <div class="row mx-4 mb-4 p-wrap">
        <div class="col-12 col-sm-4 border-white-16 border-top pb-3 px-0">
          <h2 class="text-uppercase my-3 fs-125 color-white-60">{{ 'Footer.recapito.titolo' | translate }}</h2>
          <p class="mb-2 fs-875">{{ 'Footer.recapito.indirizzo' | translate }}</p>
          <p class="mb-2 fs-875">{{ 'Footer.recapito.centralino' | translate }}</p>
          <p class="mb-2 fs-875">{{ 'Footer.recapito.postaCertificata' | translate }}</p>
          <div class="w-100"><a class="mb-2 fs-875 fw-600" target="_blank" [href]="_footerLinks?.organigramma">{{ 'Footer.recapito.uffici' | translate }}</a></div>
          <div class="w-100"><a class="mb-2 fs-875 fw-600" target="_blank" [href]="_footerLinks?.reteDiplomatica">{{ 'Footer.recapito.reteDiplomatica' | translate }}</a></div>
        </div>
        <div class="col-12 col-sm border-white-16 border-top pb-3 px-0 mx-sm-4">
          <h2 class="text-uppercase my-3 fs-125 color-white-60">{{ 'Footer.urp.titolo' | translate }}</h2>
          <p class="mb-2 fs-875">{{ 'Footer.urp.orario' | translate }}</p>
          <p class="mb-2 fs-875">{{ 'Footer.urp.contatti.telefono' | translate }}</p>
          <p class="mb-2 fs-875">{{ 'Footer.urp.contatti.fax' | translate }}</p>
          <div class="w-100"><a class="mb-2 fs-875 fw-600" target="_blank" [href]="_footerLinks?.comunicazioni">{{ 'Footer.urp.contatti.pec' | translate }}</a></div>
          <div class="w-100"><a class="mb-2 fs-875 fw-600" target="_blank" [href]="_footerLinks?.info">{{ 'Footer.urp.contatti.moduloInfo' | translate }}</a></div>
          <div class="w-100"><a class="mb-2 fs-875 fw-600" target="_blank" [href]="_footerLinks?.faq">{{ 'Footer.urp.contatti.faq' | translate }}</a></div>
        </div>
        <div class="col-12 col-sm-4 border-white-16 border-top pb-3 px-0">
          <h2 class="text-uppercase my-3 fs-125 color-white-60">{{ 'Footer.app.titolo' | translate }}</h2>
          <div class="w-100"><a class="mb-2 fs-875 fw-600" target="_blank" [href]="_footerLinks?.appIOS">{{ 'Footer.app.iOS' | translate }}</a></div>
          <div class="w-100"><a class="mb-2 fs-875 fw-600" target="_blank" [href]="_footerLinks?.appAndroid">{{ 'Footer.app.android' | translate }}</a></div>
          <div class="w-100"><a class="mb-2 fs-875 fw-600" target="_blank" [href]="_footerLinks?.riferimenti">{{ 'Footer.app.riferimenti' | translate }}</a></div>
          <div class="w-100"><a class="mb-2 fs-875 fw-600" target="_blank" [href]="_footerLinks?.rss">{{ 'Footer.app.rss' | translate }}</a></div>
          <div class="w-100"><a class="mb-2 fs-875 fw-600" target="_blank" [href]="_footerLinks?.news">{{ 'Footer.app.news' | translate }}</a></div>
          <div class="d-flex flex-wrap pt-4 social">
            <a class="mb-3 mr-4" target="_blank" [href]="_footerLinks?.facebook"><i class="fab fa-facebook-f"></i></a>
            <a class="mb-3 mr-4" target="_blank" [href]="_footerLinks?.twitter"><i class="fab fa-twitter"></i></a>
            <a class="mb-3 mr-4" target="_blank" [href]="_footerLinks?.youtube"><i class="fab fa-youtube"></i></a>
            <a class="mb-3 mr-4" target="_blank" [href]="_footerLinks?.instagram"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="d-flex mx-4 pb-3">
        <div class="col-12">
          <div class="row border-white-16 border-top pt-3">
            <a class="mb-2 mr-3 fs-875 fw-600" target="_blank" [href]="_footerLinks?.crediti">{{ 'Footer.crediti' | translate }}</a>
            <a class="mb-2 mr-3 fs-875 fw-600" target="_blank" [href]="_footerLinks?.noteLegali">{{ 'Footer.noteLegali' | translate }}</a>
            <a class="mb-2 mr-3 fs-875 fw-600" target="_blank" [href]="_footerLinks?.privacy">{{ 'Footer.privacy' | translate }}</a>
            <a class="mb-2 fs-875 fw-600" target="_blank" [href]="_footerLinks?.cookie">{{ 'Footer.cookie' | translate }}</a>
          </div>
        </div>
      </div>
    </link-footer>
  </div>
</div>
<div class="spinner-group" *ngIf="_isLoading">
  <mat-progress-spinner class="spin-center" color="primary" diameter="40" mode="indeterminate"></mat-progress-spinner>
</div>

