<pay-language-bar #languageBar [show-language-menu]="_languages.length > 1" [language-list]="_languages" language-bar-theme="language-bar"
                  (on-change-language)="_languageHandler($event)" [current-language]="_language">
  <div add-on class="dropdown w-100" *ngIf="Pay.CREDITORI.length > 1 && Pay.CreditoreAttivo">
    <a class="dropdown-toggle" href="#" id="creditori" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">{{ Pay.CreditoreAttivo?.label }}</a>
    <div class="dropdown-menu mat-elevation-z4" aria-labelledby="creditori">
      <p *ngFor="let cr of Pay.CREDITORI" (click)="__onActiveChange(cr)"
         [class]="'dropdown-item m-0' + ((Pay.CreditoreAttivo && Pay.CreditoreAttivo.value === cr.value)?' active-item':' action')">
        {{ cr.label }}
      </p>
    </div>
  </div>
  <p add-on *ngIf="Pay.CREDITORI.length === 1" class="language-bar-title w-100 m-0 multiline-text">{{ Pay.I18n.json.Header.LanguageBar.Titolo }}</p>
  <pay-spid-login [label]="Pay.I18n.json.Spid.Label" [info]="Pay.I18n.json.Spid.Info" [ask]="Pay.I18n.json.Spid.Ask" [help]="Pay.I18n.json.Spid.Help"
                  [action]="Pay.SPID['ACTION_FORM_URL']" [spid-test-url]="Pay.SPID['TEST_PROVIDER']" [response-target]="Pay.SPID['SERVICE_TARGET']"
                  *ngIf="!Pay.User && Pay.SPID['ACCESS'] && !Pay.CreditoreAttivo"></pay-spid-login>
</pay-language-bar>
<pay-choice-dialog *ngIf="Pay.CREDITORI.length > 1 && !Pay.CreditoreAttivo" [elements]="Pay.CREDITORI" (change)="__onChange($event)"
                   [label-selector]="Pay.I18n.json.Header.Erogatore.Creditore" [title]="Pay.I18n.json.Header.Erogatore.Titolo"
                   [logo]="Pay.LogoReverseGovpay" [style.top.px]="_mst"></pay-choice-dialog>
<mat-sidenav-container *ngIf="Pay.CreditoreAttivo">
  <mat-sidenav #sidenav class="side-nav" mode="over">
    <div class="side-nav-title d-flex align-items-center" [style.height.px]="_hbh">
      <span class="text-truncate">{{ Pay.I18n.json.SideNav.Titolo }}</span>
    </div>
    <mat-list role="list" class="side-nav-menu d-flex flex-column" [style.height.px]="_gch">
      <mat-list-item role="listitem" *ngFor="let _item of Pay.I18n.json.SideNav.MenuItems | AuthGuard"
                     (click)="_sideNavItemClick(sidenav, _item.Link)">
        <a [routerLink]="_item.Link" routerLinkActive="active-route" [ngClass]="_classRoute(_item.Link)">
          <span *ngIf="!_showBadgeCart(_item.Link)">{{ _item.Label }}</span>
          <span *ngIf="_showBadgeCart(_item.Link)" [matBadge]="Pay.Cart['length']" [matBadgeOverlap]="false">{{ _item.Label }}</span>
        </a>
      </mat-list-item>
      <mat-divider class="my-3" *ngIf="Pay.SPID['Access'] && Pay.I18n.json.Account"></mat-divider>
      <mat-list-item role="listitem" (click)="_sideNavItemClick(sidenav, '/profilo')" *ngIf="Pay.SPID['Access'] && Pay.I18n.json.Account">
        <a [routerLink]="'/profilo'">{{ Pay.I18n.json.SideNav.Account }}</a>
      </mat-list-item>
      <mat-list-item role="listitem" (click)="_sideNavItemClick(sidenav, Pay.I18n.json.SideNav.Logout)" *ngIf="Pay.SPID['Access'] && Pay.I18n.json.Account">
        <a [href]="pay.logout()">{{ Pay.I18n.json.SideNav.Logout }}</a>
      </mat-list-item>
      <div class="logo-govpay">
        <p class="mb-2">Powered by</p>
        <img [src]="Pay.LogoGovpay">
      </div>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <pay-header-bar #headerBar [title]="Pay.Header.Titolo" (click-left-icon)="_leftIconClickHandler($event, sidenav)" (click-right-icon)="_rightIconClickHandler()"
                    [left-icon]="Pay.Header.IsModal?'close':'menu'" right-icon="shopping_cart" [right-icon-label]="Pay.I18n.json.Cart.Badge"
                    header-theme="header-bar" [show-right-icon]="_showCart"></pay-header-bar>
    <div #globalContent class="global-container" [style.height.px]="_gch">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="spinner-group" *ngIf="_isLoading">
  <mat-progress-spinner class="spin-center" color="primary" diameter="40" mode="indeterminate"></mat-progress-spinner>
</div>
