<div class="choice-dialog">
  <div #gestore class="d-flex align-items-end background-cover background-gestore">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-8">
          <img [src]="'assets/images/'+_logoGestore" class="logo-gestore">
        </div>
        <div class="col-12 col-md-2"></div>
      </div>
    </div>
  </div>
  <section>
    <div class="container choice-group">
      <div class="row">
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-8">
          <h1>{{ _title }}</h1>
          <form>
            <mat-form-field class="py-md-5">
              <mat-select [(ngModel)]="_selectedValue" name="selector" [placeholder]="_labelSelector"
                          (selectionChange)="_choiceChange($event)">
                <mat-option *ngFor="let el of _elements" [value]="el">
                  {{ el.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
        <div class="col-12 col-md-2"></div>
      </div>
    </div>
    <div class="container choice-logo">
      <div class="row">
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-8">
          <div class="row">
            <div class="col-12" *ngIf="_configPartners">
              <div class="flex-row flex-nowrap partners-group">
                <a *ngFor="let partner of _partners" [href]="partner.Url" target="_blank"><img [src]="'assets/images/'+partner.Logo.AccessPanel"></a>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-5 mb-md-0" *ngIf="!_configPartners">
              <p>{{ _mainInfo }}</p>
              <p>{{ _subInfo }}</p>
            </div>
            <div class="col-12 col-md-6 text-md-right" *ngIf="!_configPartners && _configGovpay">
              <a [href]="_logo.Url" target="_blank"><img [src]="'assets/images/'+_logo.Logo" *ngIf="_logo"></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-2"></div>
      </div>
    </div>
  </section>
</div>
