<div class="w-100">
  <div class="d-flex flex-column align-items-center" *ngIf="_enableScanner">
    <zxing-scanner #zxing [class.zxing-scanned]="_gotScan"
                   [scannerEnabled]="_scannerIsRunning"
                   (camerasFound)="camerasFoundHandler($event)"
                   (scanSuccess)="scanSuccessHandler($event)"
                   (scanError)="scanErrorHandler($event)"></zxing-scanner>
    <button mat-icon-button class="close-icon secondary-text-color" (click)="_closeScan(true)">
      <mat-icon>close</mat-icon>
    </button>
    <mat-form-field class="d-block w-100" *ngIf="_availableDevices.length != 0 && _enableScanner">
      <mat-select [placeholder]="_cameraSelect" [(value)]="_desiredDevice.deviceId"
                  (selectionChange)="onDeviceSelectChange($event)">
        <mat-option *ngIf="!_availableDevices" value="">No Camera</mat-option>
        <mat-option *ngFor="let device of _availableDevices" [value]="device.deviceId">
          {{device.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="d-block" *ngIf="!_enableScanner">
    <form [formGroup]="_fg" (ngSubmit)="_onSubmit(_fg.value)">
      <mat-form-field class="d-block">
        <input #notice matInput [placeholder]="_avvisoPH" name="avviso" [formControlName]="'avviso'"
               (keydown.space)="$event.preventDefault()" autocomplete="off" required>
        <button matSuffix mat-icon-button type="button" (click)="_clearOrScan($event, notice)">
          <mat-icon class="action" *ngIf="notice.value === ''">photo_camera</mat-icon>
          <mat-icon class="action" *ngIf="notice.value !== ''">close</mat-icon>
        </button>
        <mat-error *ngIf="_avviso.errors && _avviso.errors['required']">
          {{ _requiredError }}
        </mat-error>
      </mat-form-field>
      <pay-icon-button button-class="icon-button" [type]="submit" icon="shopping_cart" [disabled]="!_fg.valid">{{ _submitLabel }}</pay-icon-button>
    </form>
  </div>
</div>
