:host {
  display: block;
}

.servizi-container {
  overflow: hidden;
}

.grid-sizer,
.grid-item {
  width: 100%;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .grid-sizer,
  .grid-item {
    width: calc(50% - 2rem);
  }
}

@media (min-width: 992px) {
  .grid-sizer,
  .grid-item {
    width: calc(33.333% - 2rem);
  }
}
