<mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="col-12 px-0 messages">
        <p class="text-break" *ngFor="let m of _dialogData?.message">{{ m }}</p>
      </div>
    </div>
    <ng-template [ngIf]="_hasReport">
      <div class="d-block pt-5">
        <pay-simple-item *ngFor="let r of _dialogData.report; let last = last" [primaryText]="r.key" [secondaryText]="r.value"
                         [class]="last?'row report-line last':'row report-line'"></pay-simple-item>
      </div>
    </ng-template>
  </div>
</mat-dialog-content>
<div class="d-block pt-5">
  <button mat-flat-button color="accent" type="button" (click)="_closeDialog()" *ngIf="_dialogData.YESLabel">
    <i class="material-icons mr-3" *ngIf="_dialogData.icon">{{ _dialogData?.icon }}</i>
    {{ _dialogData?.YESLabel }}
  </button>
  <button mat-button color="accent" type="button" class="ml-3" (click)="_closeDialog(true)">{{ _dialogData?.NOLabel }}</button>
</div>
