<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-8">
      <pay-title-deco class="mb-5" art-class="title-deco" [simple]="true" [titolo]="Pay.I18n.json.Cart.Pagamenti.Titolo"></pay-title-deco>
      <pay-item *ngFor="let p of Pay.ShoppingCart" [item]="p" [mainText]="p.titolo" [metadata]="p.metadati" [use-action-menu]="true"
                [secondaryText]="pay.currencyFormat(p.importo)" [mobile-breakpoint]="Pay.MobileBreakPointNotice">
        <button actions mat-menu-item color="accent" (click)="_menuItemClick(p, 'edit')" *ngIf="p.editable">{{ Pay.I18n.json.Common.Modifica }}</button>
        <button actions mat-menu-item color="accent" (click)="_menuItemClick(p, 'delete')">{{ Pay.I18n.json.Common.Elimina }}</button>
        <button actions mat-menu-item color="accent" (click)="_clickStampa(p)">{{ Pay.I18n.json.Cart.Pagamenti.Stampa }}</button>
      </pay-item>
    </div>
    <div class="col-12 col-md-2"></div>
  </div>
  <div class="row mb-5">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-8">
      <div class="col">
        <div class="row cart-footer">
          <div class="total d-flex col px-0">
            <div class="col-7">
              <p class="main-text">{{ Pay.I18n.json.Cart.Pagamenti.Totale }}</p>
            </div>
            <div class="col">
              <p class="main-text text-right">{{ pay.currencyFormat(_totale) }}</p>
            </div>
          </div>
          <div class="d-none d-md-flex pipe-filler"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-8">
      <button mat-button color="accent" class="mt-3 mt-sm-0" (click)="__backToPayments()">{{ Pay.I18n.json.Cart.Pagamenti.Indietro }}</button>
    </div>
    <div class="col-12 col-md-2"></div>
  </div>
</div>
<pay-icon-button class="m-0 mr-sm-4" [src-icon]="Pay.LogoPagoPA" (ib-click)="_ibClick()" *ngIf="Pay.ShoppingCart.length !== 0"
                 button-class="icon-button" [button-color]="'accent'">
  {{ Pay.I18n.json.Cart.Pagamenti.Paga }}
</pay-icon-button>
