<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-8">
      <pay-title-deco class="mb-5" art-class="title-deco" [simple]="true" [titolo]="Pay.I18n.json.Cart.Pagamenti.Titolo"></pay-title-deco>
      <pay-item *ngFor="let p of Pay.ShoppingCart" [item]="p" [titolo]="p.titolo" [meta-titolo]="p.sottotitolo" [use-action-menu]="true"
                [importo]="p.importo" [currency-format]="pay.currencyFormat.bind(pay)" [mobile-breakpoint]="Pay.MobileBreakPointNotice">
        <button actions mat-menu-item color="accent" (click)="_menuItemClick(p, 'edit')" *ngIf="p.editable">{{ Pay.I18n.json.Common.Modifica }}</button>
        <button actions mat-menu-item color="accent" (click)="_menuItemClick(p, 'delete')">{{ Pay.I18n.json.Common.Elimina }}</button>
        <button actions mat-menu-item color="accent" (click)="_clickStampa(p)">{{ Pay.I18n.json.Cart.Pagamenti.Stampa }}</button>
      </pay-item>
    </div>
    <div class="col-12 col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-8">
      <div class="cart-footer">
        <div class="row">
          <div class="col-7">
            <p class="main-text">{{ Pay.I18n.json.Cart.Pagamenti.Totale }}</p>
          </div>
          <div class="col">
            <p class="main-text">{{ pay.currencyFormat(_totale) }}</p>
          </div>
          <div class="d-none d-md-flex pipe-filler"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-2"></div>
  </div>
  <div class="row" *ngIf="Pay.ShoppingCart.length !== 0">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-8 pt-5">
      <pay-icon-button class="mb-3 mb-sm-0 mr-sm-4" [src-icon]="Pay.LogoPagoPA" (ib-click)="_ibClick()">
        {{ Pay.I18n.json.Cart.Pagamenti.Paga }}
      </pay-icon-button>
    </div>
    <div class="col-12 col-md-2"></div>
  </div>
</div>
